<html>
  <body>
  <h1>Hello <%= @member.username %></h1>
  
    Add a new member:
    <br>
    
    
      <a href="/recipes">Recipes List</a>
      <br>
      <a href="/ingredients">List of Ingredients</a>

  </body>
</html>
