<html>

    <%= form_tag "/login" do %>
      <p>
        Username
        <br>
        <input type="text" name="username">
      </p>
      <p>
        Password
        <br>
        <input type="password" name="password">
      </p>
      <p>
        <button name="login" value="login">Login</button>
      </p>
    <% end %>

  </body>
</html>
