<html>
  <body>
  <h1>Hello <%= @member.username %></h1>
  
    Please select one of the following:
    <br>
    
      <a href="/recipes">Recipes List</a>
      <br>
      <a href="/ingredients">List of Ingredients</a>
      <br>
      <a href="/members">Manage Members</a>



  </body>
</html>
